--extra-index-url https://download.pytorch.org/whl/cpu
numpy<2
Django>=4.2
gunicorn
groq
faiss-cpu
python-dotenv
dj-database-url
psycopg2-binary
djangorestframework
python-dotenv
transformers==4.36.2
requests