--extra-index-url https://download.pytorch.org/whl/cpu
numpy<2
Django>=4.2
gunicorn
groq
faiss-cpu
sentence-transformers==2.7.0
torch==2.5.1+cpu
python-dotenv
dj-database-url
psycopg2-binary
djangorestframework
python-dotenv
transformers==4.36.2